/* Resetting margin and padding for all elements */
body, h1, h2, h3, h4, h5, h6, p, div, ul, ol, li {
    margin: 0;
    padding: 0;
}

/* Setting padding for the main element to 16 pixels */
main {
    padding: 16px;
}

/* Setting padding for the footer element */
footer {
    padding: 24px 0; /* Top and bottom padding */
}

/* Setting height for img elements to 200 pixels */
img {
    height: 200px;
}

/* Styling for the nav element */
nav {
    border-bottom: 1px solid black; /* 1px black bottom border */
    padding: 16px; /* Padding all around */
}
